body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #b71c1c;
    color: #fff;
}
.navbar {
    background-color: #1b6f10;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}  
header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.receta {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.receta img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.receta h2 {
    font-size: 1.8em;
    color: #b71c1c;
    margin-bottom: 10px;
}

.receta h3 {
    margin-top: 15px;
    font-size: 1.2em;
    color: #444;
}

ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

footer a {
    color: #ffccbc;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c0392b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #a93226;
}


.footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #fff;
    margin-top: 20px;
}
